{% load static %}
{% block titulo %}
    Listado de Libros
{% endblock titulo %}

{% block body %}

    {% if libro %}
        <table>
            <thead>
                 <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.descripcion }}</td>
                        <td>
                        <a href="{% url 'libro:editar_libro' libro.id %}">Editar</a>
                        <a href="{% url 'libro:eliminar_libro' libro.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No existen libros registrados</h1>
    {% endif %}

{% endblock body %}